<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.sonyericsson.android.camera3d" platformBuildVersionCode="36" platformBuildVersionName="16">
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="image/jpeg"/>
        </intent>
        <intent>
            <action android:name="com.android.camera.action.REVIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="image/jpeg"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.sonymobile.permission.CAMERA_ADDON"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission android:name="com.sonymobile.panorama.permission.thermalmitigation"/>
    <permission android:description="@string/cam_strings_panorama_permgroupdesc_thermalmitigation_message_txt" android:label="@string/cam_strings_panorama_permgrouplab_thermalmitigation_txt" android:name="com.sonymobile.panorama.permission.thermalmitigation" android:protectionLevel="normal"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:enableOnBackInvokedCallback="false" android:extractNativeLibs="false" android:icon="@drawable/cam_application_sweep_panorama_icn" android:label="@string/cam_strings_application_name_panorama_txt" android:name="com.sonyericsson.android.camera3d.MorphoPanoramaGP2Application" android:supportsRtl="true" android:theme="@style/Theme.Panorama">
        <uses-library android:name="com.sony.device" android:required="true"/>
        <activity android:configChanges="orientation|screenSize" android:exported="true" android:label="@string/cam_strings_application_name_panorama_txt" android:launchMode="singleTask" android:maxAspectRatio="2.5" android:name="com.sonyericsson.android.camera3d.Camera2App" android:resizeableActivity="false" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.sonymobile.camera.addon.action.REGISTER_MODE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_ATTRIBUTES" android:resource="@xml/mode_attributes"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_NAME" android:value="capturing_mode_sweep_panorama"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SELECTOR_ICON" android:resource="@drawable/cam_cap_mode_sweep_panorama_icn"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SELECTOR_LABEL" android:resource="@string/cam_strings_application_name_panorama_txt"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_DESCRIPTION_LABEL" android:resource="@string/cam_strings_description_panorama_txt"/>
        </activity>
    </application>
</manifest>
